body, html {
  background-color: #000;
  margin: 0px;
}

.main_container {
  min-width: 100%;
  height: 70vh;
  margin: 0px 0px 0px 0px;
  border-bottom: solid #fff 5px;
}
.main_container .player {
  width: 50px;
  height: 100px;
  background-color: crimson;
  position: relative;
  left: 100px;
  top: 76%;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.main_container .block {
  width: 50px;
  height: 80px;
  background-color: #fff;
  position: relative;
  left: 90%;
  top: 61%;
}
.main_container .jump {
  -webkit-animation: jumpPlayer 1s linear;
          animation: jumpPlayer 1s linear;
}
@-webkit-keyframes jumpPlayer {
  0% {
    top: 76%;
  }
  40% {
    top: 36%;
  }
  60% {
    top: 36%;
  }
  100% {
    top: 76%;
  }
}
@keyframes jumpPlayer {
  0% {
    top: 76%;
  }
  40% {
    top: 36%;
  }
  60% {
    top: 36%;
  }
  100% {
    top: 76%;
  }
}